configuration/
customization/
demo/
drawing_formats/
text/
x86e_win64/


# Ignore specific afx/parts folders
afx/parts/assemblies/
afx/parts/auto_udfs/
afx/parts/udfs/

# Ignore all profiles under afx/parts/profiles
afx/parts/profiles/8020_inch/
afx/parts/profiles/aluminium_profiles_inch/
afx/parts/profiles/aluminium_profiles_mm/
afx/parts/profiles/ansi_steelprofiles/
afx/parts/profiles/bosch/
afx/parts/profiles/controlled_dynamics/
afx/parts/profiles/custom_start_beams/
afx/parts/profiles/din_stahlprofile/
afx/parts/profiles/frameworld_inch/
afx/parts/profiles/item/
afx/parts/profiles/kanya/
afx/parts/profiles/maytec/
afx/parts/profiles/minitec/
afx/parts/profiles/robotunits/
afx/parts/profiles/rose+krieger/
afx/parts/profiles/sheetmetal_beams_inch/
afx/parts/profiles/sheetmetal_beams_mm/
afx/parts/profiles/steel_beams_inch/
afx/parts/profiles/steel_beams_inch_mechanica/
afx/parts/profiles/steel_beams_mm/
afx/parts/profiles/steel_beams_mm_mechanica/
afx/parts/profiles/unistrut_inch/
afx/parts/profiles/unistrut_mm/

# Ignore all equipment under afx/parts/equipment
afx/parts/equipment/bosch/
afx/parts/equipment/controlled_dynamics/
afx/parts/equipment/frameworld_inch/
afx/parts/equipment/item/
afx/parts/equipment/kanya/
afx/parts/equipment/maytec/
afx/parts/equipment/minitec/
afx/parts/equipment/plates_inch/
afx/parts/equipment/plates_mm/
afx/parts/equipment/robotunits/
afx/parts/equipment/rose+krieger/
afx/parts/equipment/steel_construction_inch/
afx/parts/equipment/steel_construction_mm/
afx/parts/equipment/template_models_inch/
afx/parts/equipment/template_models_mm/

# Ignore all connectors under afx/parts/connectors
afx/parts/connectors/8020_inch/
afx/parts/connectors/bosch/
afx/parts/connectors/controlled_dynamics/
afx/parts/connectors/frameworld_inch/
afx/parts/connectors/item/
afx/parts/connectors/kanya/
afx/parts/connectors/maytec/
afx/parts/connectors/minitec/
afx/parts/connectors/robotunits/
afx/parts/connectors/rose+krieger/
afx/parts/connectors/steel_construction_inch/
afx/parts/connectors/steel_construction_mm/

# Ignore all bend_profiles under afx/parts/bend_profiles
afx/parts/bend_profiles/aluminium_profiles_inch/
afx/parts/bend_profiles/aluminium_profiles_mm/
afx/parts/bend_profiles/steel_beams_inch/
afx/parts/bend_profiles/steel_beams_mm/
